*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
font-family: "Poppins", sans-serif;
}
header{
background-color: #e0568b;
color: #fffaff;
width: 100%;
padding: 20px;
}
.cabecalho-itens{
max-width: 1980px;
margin: 0 auto;
display: flex;
align-items: center;
justify-content: center;
}
.cabecalho-imagem{
width: 5px;
height: 5px;
display: flex;
justify-content: flex-start;
align-items: center;
}
.titulo_site{
padding: 50px;
text-align: center;
width: 50%;
font: 30px;
}
.sociais{
display: flex;
justify-content: flex-end;
width: 25%;
padding-right: 30px;
}
.banner1{
display: flex;
justify-content: center;
height: fit-content;
width: fit-content;
}
.estudante_titulo{
padding: 50px;
text-align: center;
}
.estudante-nome{
text-align: center;
}
.estudante-imagem{
width: 120px;
}
.estudante-icone{
width: 38px;
padding: 4px 8px;
}
.estudante{
background-image: background-color(#FFE5BF);
padding: 24px 0;
}

.estudante.div{
text-align: center;
padding: 24px 0;
}
.estudantes_todos{
display: flex;
justify-content: space-around;
}
.escola{
background-image: linear-gradient(#ff3560,#fffaf2);
color: rgb(255, 138, 138);
display: flex;
justify-content:center;
padding: 24px 0;
text-align:center;
display:block;
}
.escola-titulo{
padding: 50px;
text-align: center;
}
.logo_rodape{
height: 80px;
padding: 12px 0;

}

.link{
color: #ffdddd;
text-decoration: none;
}
.estudante-nome{
text-align: center;
}
.estudante-imagem{
width: 120px;
}
.estudante-icone{
width: 38px;
padding: 4px 8px;
}
.estudante{
background-image: background-color(#ff7a7a);
padding: 24px 0;
}

.estudante.div{
text-align: center;
padding: 24px 0;
}
.estudantes_todos{
display: flex;
justify-content: space-around;
}
.escola{
background-image: linear-gradient(#FFF2DB, #ffd2f1);
color: rgb(255, 176, 176);
display: flex;
justify-content:center;
padding: 24px 0;
text-align:center;
display:block;
}
.escola-titulo{
padding: 50px;
text-align: center;
}
.logo_rodape{
height: 80px;
padding: 12px 0;

}

.link{
color: #ff7575;
text-decoration: none;
}